
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/WebsiteLayout.cshtml";
}

<div class="main-wrapper ">
    <section class="page-title bg-1">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block text-center">
                        <span class="text-white">About Us</span>
                        <h1 class="text-capitalize mb-4 text-lg">Our Company</h1>
                        <ul class="list-inline">
                            <li class="list-inline-item"><a href="/Home/Index" class="text-white">Home</a></li>
                            <li class="list-inline-item"><span class="text-white">/</span></li>
                            <li class="list-inline-item"><a href="#" class="text-white-50">About Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section About Start -->
    <section class="section about-2 position-relative">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="about-item pr-3 mb-5 mb-lg-0">
                        <span class="h6 text-color">What we are</span>
                        <h2 class="mt-3 mb-4 position-relative content-title">Get to know about our company</h2>
                        <p class="mb-5"><span style="font-size: 1.2em; color: #EF233C; font-weight: 700; letter-spacing: 1px;">KDS</span> was started as a novel venture which enjoys today an enviable reputation in terms of Trust & Credibility.KDS now a real conglomerate has various verticlas in jewelery, education,clothing, investment and real estate to name a few. As a major brand extension initiative, KDS has major  plan to commence Ethlon   Factory at Lucknow. Managed by dedicated and experienced professionals, KDS will soon be recognized on National map of the country.</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="about-item-img">
                        <img src="../../images/bg/about_us.jpg" alt="kds_about_image" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Section About End -->

    <section class="about-info section pt-0">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="about-info-item mb-4 mb-lg-0">
                        <h3 class="mb-3"><span class="text-color mr-2 text-md ">01.</span>Our Mission</h3>
                        <p class="text-justify"><span style="font-size: 1.2em; color: #EF233C; font-weight: 700; letter-spacing: 1px;">KDS</span> mission is to implement cutting edge technology in almost everything to match the best standards and make KDS not only a respectful brand but a contribution to nation's growth.</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="about-info-item mb-4 mb-lg-0">
                        <h3 class="mb-3"><span class="text-color mr-2 text-md">02.</span>Vision</h3>
                        <p class="text-justify"><span style="font-size: 1.2em; color: #EF233C; font-weight: 700; letter-spacing: 1px;">KDS</span> already has successful ventures to its credit but growth has no limits. KDS envisage to Honest approach apllied to our efforts has taken a shape of a true conglomerate with a vision to expand our brand to even greater heights.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- section Counter Start -->
    <section class="section counter bg-counter">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="counter-item text-center mb-5 mb-lg-0">
                        <i class="ti-check color-one text-md"></i>
                        <h3 class="mt-2 mb-0 text-white"><span class="counter-stat font-weight-bold">1730</span> +</h3>
                        <p class="text-white-50">Project Done</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="counter-item text-center mb-5 mb-lg-0">
                        <i class="ti-flag color-one text-md"></i>
                        <h3 class="mt-2 mb-0 text-white"><span class="counter-stat font-weight-bold">125 </span>M </h3>
                        <p class="text-white-50">User Worldwide</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="counter-item text-center mb-5 mb-lg-0">
                        <i class="ti-layers color-one text-md"></i>
                        <h3 class="mt-2 mb-0 text-white"><span class="counter-stat font-weight-bold">39</span></h3>
                        <p class="text-white-50">Availble Country</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="counter-item text-center">
                        <i class="ti-medall color-one  text-md"></i>
                        <h3 class="mt-2 mb-0 text-white"><span class="counter-stat font-weight-bold">14</span></h3>
                        <p class="text-white-50">Award Winner </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- section Counter End  -->
    <!--  Section Services Start -->

    <section class="section team">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7 text-center">
                    <div class="section-title">
                        <span class="h6 text-color">Our Team</span>
                        <h2 class="mt-3 content-title">Expert Team member to get best service</h2>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="team-item-wrap mb-5">
                        <div class="team-item position-relative">
                            <img src="../../images/team/team-1.jpg" alt="" class="img-fluid w-100">

                        </div>
                        <div class="team-item-content">
                            <h4 class="mt-3 mb-0 text-capitalize">Justin hammer</h4>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--  Section Services End -->
    <!-- Section Testimonial Start -->
    <section class="section testimonial">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 ">
                    <div class="section-title">
                        <span class="h6 text-color">Clients testimonial</span>
                        <h2 class="mt-3 content-title">Check what's our clients say about us</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row testimonial-wrap">
                <div class="testimonial-item position-relative">
                    <i class="ti-quote-left text-color"></i>
                    <div class="testimonial-item-content">
                        <p class="testimonial-text">It was good to interact with sales person of KDS who explained quite professionally about project  and arranged a site visit too.</p>
                        <div class="testimonial-author">
                            <h5 class="mb-0 text-capitalize">Uday</h5>
                            <p>Client</p>
                        </div>
                    </div>
                </div>
                <div class="testimonial-item position-relative">
                    <i class="ti-quote-left text-color"></i>
                    <div class="testimonial-item-content">
                        <p class="testimonial-text">Thank you KDS, for all required assistance, especially legal issues.We were really impressed to experience your professional approach with right investment proposal.</p>
                        <div class="testimonial-author">
                            <h5 class="mb-0 text-capitalize">Rajveer</h5>
                            <p>Client</p>
                        </div>
                    </div>
                </div>
                <div class="testimonial-item position-relative">
                    <i class="ti-quote-left text-color"></i>
                    <div class="testimonial-item-content">
                        <p class="testimonial-text">I appreciate your honesty to present fact sheet on your project which I found really transparent. Keep it up!!</p>
                        <div class="testimonial-author">
                            <h5 class="mb-0 text-capitalize">Amir</h5>
                            <p>Client</p>
                        </div>
                    </div>
                </div>
                <div class="testimonial-item position-relative">
                    <i class="ti-quote-left text-color"></i>
                    <div class="testimonial-item-content">
                        <p class="testimonial-text">Thank you KDS, for all required assistance, especially legal issues.We were really impressed to experience your professional approach with right investment proposal.</p>
                        <div class="testimonial-author">
                            <h5 class="mb-0 text-capitalize">Satyam</h5>
                            <p>Client</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Section Testimonial End -->
    <section class="mt-70 position-relative">
        <div class="container">
            <div class="cta-block-2 bg-gray p-5 rounded border-1">
                <div class="row justify-content-center align-items-center ">
                    <div class="col-lg-7">
                        <h2 class="mt-2 mb-4 mb-lg-0">Contact us for any help :</h2>
                        <p>We are attentive to hear you.</p>
                    </div>
                    <div class="col-lg-4">
                        <a href="/Home/ContactUs" class="btn btn-main btn-round-full float-lg-right ">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

