@model JvHomes.Models.ChangePassword

@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}


@using (Html.BeginForm("ChangePassword", "Admin", FormMethod.Post, new { @id = "form1", enctype = "multipart/form-data" }))
{

    <div class="wrapper">
        <div class="container-fluid">
            <!-- Page-Title -->
            <div class="page-title-box">
                <div class="row align-items-center">
                    <div class="col-sm-6">
                        <h4 class="page-title">Profile</h4>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-right">

                            <li class="breadcrumb-item active">Chnage Password</li>
                        </ol>
                    </div>
                </div>
                <!-- end row -->
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                        <label>Old Password</label>
                        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", @placeholder = "Old Password" })
                    </div>
                </div>
                <div class="col-xl-6 col-lg col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                        <label>New Password</label>
                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", @placeholder = "New Password" }) <input id="chkShowPassword" type="checkbox" onclick="ShowPassword(this)" /> Show Password

                    </div>
                </div>
            </div>

            <div class="row gutters">
                <div class="col-xl-6 col-lg col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                        <label>Confirm Password</label>
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm Password" }) <input id="chkShowPassword1" type="checkbox" onclick="ShowPasswordNew(this)" /> Show Password
                    </div>
                </div>
                <div class="col-xl-6 col-lg col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                        <br />
                        <input class="btn btn-success" type="submit" onclick="return validateform();" value="Change Password" id="btnchange" name="ChangePassword" />

                    </div>
                </div>
            </div>
            <div class="row">
                <p style="color:red">@TempData["Login"] </p>
            </div>

        </div>
    </div>

}


<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">

<script>
    $(document).ready(function () {
        $("#divload").css({ 'display': 'none' });
    });
    function ShowPassword(chkShowPassword) {
        //Reference the TextBox.
        var txtPassword = document.getElementById("NewPassword");
        var txtTemp;

        //If CheckBox is Checked i.e. Password needs to be shown.
        if (chkShowPassword.checked) {
            //Remove if any TextBox present next to the Password TextBox.
            if (txtPassword.nextSibling != null) {
                txtPassword.parentNode.removeChild(txtPassword.nextSibling);
            }

            //Create a TextBox element and set the value of Password TextBox to it.
            txtTemp = document.createElement('INPUT');
            txtTemp.setAttribute('TYPE', 'TEXT');
            txtTemp.setAttribute('class', 'form-control');
            txtTemp.setAttribute('VALUE', txtPassword.value);

            //Set the value of TextBox back to Password TextBox on OnChange event.
            txtTemp.onchange = function () {
                txtPassword.value = this.value;
            };

            //Insert the TextBox next to the Password TextBox.
            txtPassword.parentNode.insertBefore(txtTemp, txtPassword.nextSibling);

            //Hide the Password TextBox.
            txtPassword.style.display = "none";
        } else {
            txtTemp = txtPassword.nextSibling;

            //Set the value of the TextBox to the Password TextBox.
            txtPassword.value = txtTemp.value;

            //Remove the TextBox.
            txtTemp.parentNode.removeChild(txtTemp);

            //Show the Password TextBox.
            txtPassword.style.display = "block";
        }
    };

    function ShowPasswordNew(chkShowPassword1) {
        //Reference the TextBox.
        var txtPassword = document.getElementById("ConfirmPassword");
        var txtTemp;

        //If CheckBox is Checked i.e. Password needs to be shown.
        if (chkShowPassword1.checked) {
            //Remove if any TextBox present next to the Password TextBox.
            if (txtPassword.nextSibling != null) {
                txtPassword.parentNode.removeChild(txtPassword.nextSibling);
            }

            //Create a TextBox element and set the value of Password TextBox to it.
            txtTemp = document.createElement('INPUT');
            txtTemp.setAttribute('TYPE', 'TEXT');
            txtTemp.setAttribute('class', 'form-control');
            txtTemp.setAttribute('VALUE', txtPassword.value);

            //Set the value of TextBox back to Password TextBox on OnChange event.
            txtTemp.onchange = function () {

                txtPassword.value = this.value;
            };

            //Insert the TextBox next to the Password TextBox.
            txtPassword.parentNode.insertBefore(txtTemp, txtPassword.nextSibling);

            //Hide the Password TextBox.
            txtPassword.style.display = "none";
        } else {
            txtTemp = txtPassword.nextSibling;

            //Set the value of the TextBox to the Password TextBox.
            txtPassword.value = txtTemp.value;

            //Remove the TextBox.
            txtTemp.parentNode.removeChild(txtTemp);

            //Show the Password TextBox.
            txtPassword.style.display = "block";
        }
    };
    function validateform() {

        $(".errortext").removeClass("errortext");


        if ($('#OldPassword').val() == '') {
            $("#OldPassword").addClass('errortext');
            $('#OldPassword').focus();
            return false;
        }
        if ($('#NewPassword').val() == '') {
            $("#NewPassword").addClass('errortext');
            $('#NewPassword').focus();
            return false;
        }
        if ($('#ConfirmPassword').val() == '') {
            $("#ConfirmPassword").addClass('errortext');
            $('#ConfirmPassword').focus();
            return false;
        }
        if ($('#NewPassword').val() != $('#ConfirmPassword').val()) {
            alert('New Password and Confirm Password does Not Matched');
            return false;
        }

        $("#divload").css({ 'display': '' });
        return true;
    }
</script>

