@model JvHomes.Models.Dashboard

@{
    ViewBag.Title = "DirectDashBoard";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<div class="wrapper">
    <div class="container-fluid">
        <!-- Page-Title -->
        <div class="page-title-box">
            <div class="row align-items-center">
                <div class="col-sm-6">
                    <h4 class="page-title">DashBoard</h4>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-right">

                        <li class="breadcrumb-item active">DashBoard</li>
                    </ol>
                </div>
            </div>
            <!-- end row -->
        </div>


        @if (Model != null)
        {
            if (Model.associateDetails != null)
            {
                if (Model.associateDetails.Rows.Count > 0)
                {

                    <div class="row">

                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2" style="background-color:#02c58d">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1" style="color:#fff !important">
                                                Total Payout
                                            </div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800" style="color:#fff">@Model.associateDetails.Rows[0]["DirectAmount"].ToString()</div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2" style="background-color:#990099">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1" style="color:#fff !important">
                                                Total Business
                                            </div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800" style="color:#fff !important">@Model.associateDetails.Rows[0]["TotalBusiness"].ToString()</div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2" style="background-color:#fcbe2d">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1" style="color:#fff !important">
                                                Total Booking
                                            </div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800" style="color:#fff !important">@Model.associateDetails.Rows[0]["TotalBooking"].ToString()</div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>










                    </div>








                }
            }
        }

        <div class="row gutters">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                <div class="card custom-bdr">
                    <div class="card-header">Club Income</div>
                    <div class="card-body">

                        <div class="dt-responsive table-responsive">
                            <table class="table table-bordered table-striped table-hover js-basic-example dataTable" id="example23">
                                <thead>
                                    <tr>
                                        <th>S No.</th>
                                        <th>Club Name</th>
                                        <th>Club Target</th>
                                        <th>Club Reward</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Gold</td>
                                        <td>1 Cr</td>
                                        <td>Bullet</td>

                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>Diamond</td>
                                        <td>5 Cr</td>
                                        <td>Triber Car</td>

                                    </tr>

                                    <tr>
                                        <td>3</td>
                                        <td>Ruby</td>
                                        <td>25 Cr</td>
                                        <td>Scorpio</td>

                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>Crown</td>
                                        <td>50 Cr</td>
                                        <td>House</td>

                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>Director</td>
                                        <td>100 Cr</td>
                                        <td>Farm House</td>

                                    </tr>
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>

</div>